<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: linear-gradient(180deg, rgba(166,166,166,1) 21%, rgba(255,255,255,1) 100%) !important">
  <a class="navbar-brand" href="#">KanbanTool</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/KanbanTool/">Доски</a></li>
      <li class="nav-item"><a class="nav-link" href="/KanbanToolGraph/">Анализ графиков</a></li>
      <li class="nav-item"><a class="nav-link" href="/static/roles.html">Описание ролей(Старое)</a></li>
      <li class="nav-item"><a class="nav-link" href="/static/domains.html">Домены</a></li>
      <!-- <li class="nav-item"><a class="nav-link" href="/Bitrix24/tasklist/0">UpdateTaskList</a></li>--> 
       </ul>
       
    <span style="margin: 2px;"><button type="button" class="btn btn-outline-secondary btn-sm" id="Experements"><i class="fa fa-flask" aria-hidden="true"></i></button></span>
    <span style="margin: 2px;"><button type="button" class="btn btn-outline-secondary btn-sm" id="InfoDesk"><i class="fa fa-info-circle" aria-hidden="true"></i></button></span>
    <span style="margin: 2px;"><button type="button" class="btn btn-outline-secondary btn-sm" id="ZoomPlus"><i class="fa fa-plus-circle" aria-hidden="true"></i></button></span>
    <span style="margin: 2px;"><button type="button" class="btn btn-outline-secondary btn-sm" id="ZoomMinus"><i class="fa fa-minus-circle" aria-hidden="true"></i></button></span>
    <span style="margin: 2px;"><button type="button" class="btn btn-outline-secondary btn-sm" id="refreshDesk"><i class="fa fa-refresh" aria-hidden="true"></i></button></span>
    <ul style="margin: auto 0;">
        <div class="navbar-nav" style="margin: auto 0;">
            <label for="DeskList" style="padding: .375rem .75rem;"> Доска </label>
            <select class="form-control" id="DeskList">
            </select>
          </div>
    </ul>
    <script>
      $(function () {
          var location = window.location.href;
          var path = window.location.pathname.split('/');
          FirstPath = '';
          if (path.length > 2){
              FirstPath = '/' + path[1]+  '/'
          }
          var cur_url = 'http://'+{{.Website}} + FirstPath ;
      
          $('.navbar-nav').each(function () {
              $(this).find('li').each(function () {
              
              var link = $(this).find('a').attr('href');
      
                  if (cur_url == link)
                  {
                      $(this).addClass('active');
                  }
              });
          });
      });
      </script>
      {{if .User }} 
 
      <span style=" margin-right: 3em;">

        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{.User.Firstname}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <span style="margin: 5px;display: block;"><button type="button" class="btn btn-outline-secondary btn-sm" id="ZoomPlus"><i class="fa fa-plus-circle" aria-hidden="true"></i></button> увеличить</span>
              <span style="margin: 5px;display: block;"><button type="button" class="btn btn-outline-secondary btn-sm" id="ZoomMinus"><i class="fa fa-minus-circle" aria-hidden="true"></i></button> уменьшить</span>
              <div class="dropdown-divider"></div>
                <form class="navbar-form navbar-left" role="form" action="http://{{.Website}}/login/" method="Get">
                  <input type="hidden" name="logout" id="logout" value="yes"/>
                  <button class="btn btn-default" id="addBookButton">Logout</button>        
                </form>
              </div>
          </li>
        </ul>
      </span>

    {{else}}
      <form class="navbar-form navbar-left" role="form" action="http://{{.Website}}/login/" method="Get">
        <button class="btn btn-default" id="addBookButton">Login</button>        
     </form>
     {{end}}
  </div>
</nav>