<!-- begin navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
   
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="http://{{.Website}}">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="http://{{.Website}}/KanbanTool/">KanbanTool</a></li>
          <li class="nav-item"><a class="nav-link" href="http://{{.Website}}/KanbanToolAPI/">KanbanToolAPI</a></li>
          <li class="nav-item"><a class="nav-link" href="http://{{.Website}}/Bitrix24/tasklist/0">UpdateTaskList</a></li> 
        </ul>
        <script>
        $(function () {
            var location = window.location.href;
            var path = window.location.pathname.split('/');
            FirstPath = '';
            if (path.length > 2){
                FirstPath = '/' + path[1]+  '/'
            }
            var cur_url = 'http://'+{{.Website}} + FirstPath ;
        
            $('.navbar-nav').each(function () {
                $(this).find('li').each(function () {
                
                var link = $(this).find('a').attr('href');
        
                    if (cur_url == link)
                    {
                        $(this).addClass('active');
                    }
                });
            });
        });
        </script>

      
        <ul class="nav navbar-nav navbar-right">
          <form class="navbar-form navbar-left" role="form" action="http://{{.Website}}/login/" method="Get">
            <button class="btn btn-default" id="addBookButton">Login</button>        
         </form>
       </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--  end navbar -->