<!DOCTYPE html>

<html>
<head>
  <title>КанбанТул РЭР</title>
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
<!-- Styles -->
<style>
    #chartdiv {
      width: 100%;
    height:1024px;
    }
    .RERTooltip{
        width:200px; 
        word-break: keep-all;
        height:400px;
        display: inline-block; 
    }
    </style>
    
    <!-- Resources -->
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/plugins/forceDirected.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    
    <!-- Chart code -->
    <script>
    am4core.ready(function() {
    
    // Themes begin
    am4core.useTheme(am4themes_animated);
    // Themes end
    
    var chart = am4core.create("chartdiv", am4plugins_forceDirected.ForceDirectedTree);
    chart.legend = new am4charts.Legend();
    var networkSeries = chart.series.push(new am4plugins_forceDirected.ForceDirectedSeries())
    networkSeries.dataFields.linkWith = "linkWith";
    networkSeries.dataFields.name = "name";
    networkSeries.dataFields.id = "name";
    networkSeries.dataFields.value = "value";
    networkSeries.dataFields.children = "children";
    networkSeries.fixedWidthGrid = true;
    networkSeries.minRadius = 40;
    networkSeries.nodes.template.label.text = "{name}"
    networkSeries.nodes.template.label.fill = am4core.color("#000");
    networkSeries.links.template.disatnce = 2;
    networkSeries.fontSize = 12;
    networkSeries.linkWithStrength = 0;
    networkSeries.CenterStrength = 0;
    networkSeries.appear()
    networkSeries.contextMenuDisabled = false;
    networkSeries.nodes.template.propertyFields.x = "x";
    networkSeries.nodes.template.propertyFields.y = "y";
        

    var nodeTemplate = networkSeries.nodes.template;
    nodeTemplate.tooltipHTML = `<center>{name}<hr /><div class="RERTooltip">{Desc}</div></center>`;
    nodeTemplate.label.interactionsEnabled = true;
    nodeTemplate.fillOpacity = 1;
    nodeTemplate.label.hideOversized = true;
    nodeTemplate.label.truncate = true;
    
    var linkTemplate = networkSeries.links.template;
    linkTemplate.strokeWidth = 3;
    var linkHoverState = linkTemplate.states.create("hover");
    linkHoverState.properties.strokeOpacity = 1;
    linkHoverState.properties.strokeWidth = 5;

    /*nodeTemplate.events.on("hit", function (event) {
        alert("dd");
    }); */  

    nodeTemplate.events.on("over", function (event) {
        var dataItem = event.target.dataItem;
        dataItem.childLinks.each(function (link) {
            link.isHover = true;
        })
    })
    
    nodeTemplate.events.on("out", function (event) {
        var dataItem = event.target.dataItem;
        dataItem.childLinks.each(function (link) {
            link.isHover = false;
        })
    })
    
    networkSeries.data = [  
       {  
          "name":"ОИО",
          "value":100,  
          "fixed":"true",
          "children":[  
             {  
                "name":"Нелеквиды",
                "value":10,
                "Desc":"Каждый день проверять резервы на наличие замороженных резервов",
                "linkWith":[  
                    "Отдел снабжения"
                ]
             }
          ]
       },
       {  
          "name":"Производство",
          "value":100

       },
       {  
          "name":"Логистика/Склад",
          "value":100

       },
       {"name":"Отдел снабжения",
          "value":100,
          "children":[  
             {  
                "name":"Платежный календарь",
                "value":10,
                "Desc":"Дележку денег сделать до 14.00 (есть вариации, но ориентир именно такой), по окончанию дележки оповестить бухгалтерию, если какой, то счет будет позже, но нам сильно нужно, то отдельно обсудить. ",
                "linkWith":[  
                    "Финансы"
                ]
             },
             {  
                "name":"SLA",
                "value":10,
                "Desc":"Отработка кп сутки",
                "linkWith":[  
                    "Отдел продаж"
                ]
             },
             {  
                "name":"Рабочие группы",
                "value":10,
                "Desc":"В случае вопросов по кп или заказам собирать рабочие группы",
                "linkWith":[  
                    "Отдел продаж"
                ]
             },
             {  
                "name":"Уточнения по КП",
                "value":10,
                "Desc":"Запрашивать у отдела продаж максимум уточнений в первый день",
                "linkWith":[  
                    "Отдел продаж"
                ]
             },
             {  
                "name":"Не стандартные изделия",
                "value":10,
                "Desc":"На нестандартные изделия отдел продаж прикрепляет первичный запрос, тех задание (оригинал). ",
                "linkWith":[  
                    "Отдел продаж"
                ]
             },
             {  
                "name":"Нестандартная продукция",
                "value":10,
                "Desc":"Нестандартная продукция, размещенная на производстве проходит входной аудит не более 8-и часов рабочего времени, при малейшем сомнении, что продукцию можно будет произвести на  производстве РЭР позиция копируется и сразу же дублируется Макаревич Н. для параллельной проработки ответа и сообщается в обсуждении, что позиция переведена на параллельную обработку.",
                "linkWith":[  
                    "Производство"
                ]
             },




             {  
                "name":"Мониторинг своевременности и зона ответственности",
                "value":10,
                "Desc":"делаем по заявке на доставку, мы контролим соблюдение срока отгрузки поставщиком, и полностью зона ответственности переходит в ОЛ в момент забора груза",
                "linkWith":[  
                    "Логистика/Склад"
                ]
             },
             {  
                "name":"При срыве сроков поставки",
                "value":10,
                "Desc":"При срыве сроков поставки, для оценки вариантов ускоренной доставки ставить в получателей чата 1С не только ОП, но и ОЛ",
                "linkWith":[  
                    "Логистика/Склад"
                ]
             },
             {  
                "name":"Задавать вопросы",
                "value":10,
                "Desc":"Задавать вопросы в чат Форс Мажор, если продукция уже в пути, а ОП снижает срок по спецификации",
                "linkWith":[  
                    "Логистика/Склад"
                ]
             },
             {  
                "name":"1 день на доставку",
                "value":10,
                "Desc":"База прибавляет автоматически 1 день при формировании заявки на доставку и при отработке КП, как бы подразумевая что день они будут принимать продукцию",
                "linkWith":[  
                    "Логистика/Склад"
                ]
             }

          ]
       },
       {  
          "name":"Финансы",
          "value":200,

          "children":[  
             {  
                "name":"Агентские",
                "value":1,
                "Desc":"Начисления агентских затрат подаются до 5 числа след месяца",
                "linkWith":[  
                    "Отдел продаж"
                ]
             },
             {  
                "name":"При отсрочке платежа",
                "value":1,
                "Desc":"Перед формированием заявки на доставку (отсрочка платежа) прикреплять необходимый пакет документов (договор, счет, спека,ГП)",
                "linkWith":[  
                    "Отдел продаж"
                ]
             },
             {  
                "name":"Отсутствие документов при отгрузке",
                "value":1,
                "Desc":"При отсутствии (договора, спеки, счета) при оформлении заявки на доставку - согласовывать отгрузку с ФД, с Паскаль, с указанием срока устранения замечаний. ",
                "linkWith":[  
                    "Отдел продаж"
                ]
             },
             {  
                "name":"Отгрузка документов",
                "value":1,
                "Desc":"Менеджеры ОП отгружая в отсрочку без документов, беря ответственность 'на себя' пишут в битрикс ФД, СДО о данных ЗД и ЗК",
                "linkWith":[  
                    "Отдел продаж"
                ]
             },
             {  
                "name":"Вх.документы транзит",
                "value":1,
                "Desc":"Предоставление документов по транзитным поступлениям за следующий день после отгрузки от поставщика",
                "linkWith":[  
                    "Отдел снабжения"
                ]
             },

             
             {  
                "name":"Транспортные услуги",
                "value":1,
                "Desc":"Транспортные услуги (маржиналка) до 11 числа следующего месяца",
                "linkWith":[  
                    "Логистика/Склад"
                ]
             },
            {  
            "name":"Наличка",
            "value":1,
            "Desc":"Лейла - Деньги со склада передавать в кассу офиса на следующий день",
            "linkWith":[  
                "Логистика/Склад"
            ]
            },
            {  
            "name":"Путевые листы",
            "value":1,
            "Desc":"Лаптев - Путевые листы до 10 числа следующено месяца",
            "linkWith":[  
                "Логистика/Склад"
            ]
            },
            {  
            "name":"Почта",
            "value":1,
            "Desc":"Отправка почты  два раза в неделю (вторник, четверг).<br> Получение почты два раза в неделю (вторник, четверг) ",
            "linkWith":[  
                "Логистика/Склад",
                "HR"
            ]
            },
            {  
            "name":"КТУ",
            "value":1,
            "Desc":"Коэффициенты КТУ по производству предоставляются до 5-го числа след месяца",
            "linkWith":[  
                "Производство"
            ]
            },
            {  
            "name":"Инвентаризация",
            "value":1,
            "Desc":"Инвентаризация производственных остатков проводится 1 раз в квартал в последний день квартала.",
            "linkWith":[  
                "Производство"
            ]
            },
            {  
            "name":"Инвентаризация",
            "value":1,
            "Desc":"Формирование выпуска готовой продукции для расчета заработной платы производится до ? числа след месяца",
            "linkWith":[  
                "Производство"
            ]},
            {  
            "name":"План на мес.",
            "value":1,
            "Desc":"Затраты на оплату вносятся ежемесячно в план по подразделению. Срок 25 число предыдущего месяца",
            "linkWith":[  
                "Производство",
                "Отдел продаж",
                "HR",
                "Отдел снабжения",
                "Логистика/Склад",
                "ОИО",
                "Производство"
            ]
            },
            {  
            "name":"Оригиналы договоров",
            "value":1,
            "Desc":"Оригиналы договоров, спецификаций, ДС, упд передаются СДО",
            "linkWith":[  
                "Производство",
                "Отдел продаж",
                "HR",
                "Отдел снабжения",
                "Логистика/Склад",
                "ОИО",
                "Производство"
            ]
            },
            {  
            "name":"Заработная плата",
            "value":1,
            "Desc":"на карту перечисляется 2 раза (аванс-20 число, ок оплата- 5 число)<br> на руки выдается  2 раза (аванс- 25 число, ок оплата- 15 число)",
            "linkWith":[  
                "Производство",
                "Отдел продаж",
                "HR",
                "Отдел снабжения",
                "Логистика/Склад",
                "ОИО",
                "Производство"
            ]
            },
            {  
            "name":"Маржинальная прибыль",
            "value":1,
            "Desc":"Формирование маржинальной прибыли производится до 11 числа след месяца",
            "linkWith":[  
                "Производство",
                "Отдел продаж",
                "HR",
                "Отдел снабжения",
                "Логистика/Склад",
                "ОИО",
                "Производство"
            ]
            },
            {  
            "name":"Платежный календарь",
            "value":1,
            "Desc":" Заявки на оплату на сегодня заводим до 13-00 <br> Платежный календарь формируется до 15-00 <br>Все оплаты позже 13-00 идут в допреестр через согласование с Качановой Л. <br> В назначении платежа ставится слово  ДОПЛАТА",
            "linkWith":[  
                "Производство",
                "Отдел продаж",
                "HR",
                "Отдел снабжения",
                "Логистика/Склад",
                "ОИО",
                "Производство"
            ]
            },
            {  
            "name":"ФП",
            "value":1,
            "Desc":"Если затраты не включены в план, то они выносятся в понедельник на ФП",
            "linkWith":[  
                "Производство",
                "Отдел продаж",
                "HR",
                "Отдел снабжения",
                "Логистика/Склад",
                "ОИО",
                "Производство"
            ]
            },
            {  
            "name":"ФП время",
            "value":1,
            "Desc":"Финансовое планирование (ФП) проводится еженедельно в понедельник в 15-00",
            "linkWith":[  
                "Производство",
                "Отдел продаж",
                "HR",
                "Отдел снабжения",
                "Логистика/Склад",
                "ОИО",
                "Производство"
            ]
            },
            {  
            "name":"Форс мажоры затраты",
            "value":1,
            "Desc":"Если затраты возникли после проведения ФП <br> На затраты до 1 000 ЗРС не пишем <br>На затраты до 10 000 пишем ЗРС на Качанову Л. <br>На затраты выше 10 000 пишем ЗРС на Корчагину С.И.",
            "linkWith":[  
                "Производство",
                "Отдел продаж",
                "HR",
                "Отдел снабжения",
                "Логистика/Склад",
                "ОИО",
                "Производство"
            ]
            },
            {  
            "name":"Заявки на оплату",
            "value":1,
            "Desc":"Заявки на оплату на сегодня заводим до 13-00",
            "linkWith":[  
                "Производство",
                "Отдел продаж",
                "HR",
                "Отдел снабжения",
                "Логистика/Склад",
                "ОИО",
                "Производство"
            ]
            },
            {  
            "name":"Авансовые отчеты",
            "value":1,
            "Desc":" срок сдачи в течении недели ",
            "linkWith":[  
                "Производство",
                "Отдел продаж",
                "HR",
                "Отдел снабжения",
                "Логистика/Склад",
                "ОИО",
                "Производство"
            ]
            }
          ]
       },
       {  
          "name":"Отдел продаж",
          "value":100
       },
       {  
          "name":"HR",
          "value":100
       }
    ];
    
    
    }); // end am4core.ready()
    </script>
    
    <!-- HTML -->
    <div id="chartdiv"></div>
<div class="RERTooltip">Дележку денег сделать до 14.00 (есть вариации, но ориентир именно такой), по окончанию дележки оповестить бухгалтерию, если какой, то счет будет позже, но нам сильно нужно, то отдельно обсудить. </div>
</body>
</html>