
body {
    background-image: url("../img/background.jpg") ;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: cover; /* Современные браузеры */
}

.KanbanDesk {
    height: 90vh;
    display:grid;
}
.Parametrs{
    display:inline-block;
}
.KanbanColumn{
    min-width: 246px;
    min-height: 200px;
    overflow: auto;
    border-radius: 10px;
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
    background-color: rgba(197, 197, 182, 0.43);
}
.KanbanRowView{
    display: grid;
}
.Swimline{
    display: grid;
    grid-auto-columns: auto;
}
.KanbanColumnView{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    display: grid;
}
.KanbanColumnContent{
    overflow: auto;
    display: grid;

}

.one {
    grid-template-columns: auto;
}
.two {
    grid-template-columns: auto auto;
}
.UserIcon {
    border-radius: 30px;
    width: 30px;
}
.NameColumn{
    margin: 2px;
    padding: 5px;
    text-align: left;
    font-family: "New Century Schoolbook", Georgia, Serif;
    font-weight: bold

}
.projetcicon{
    border-radius: 30px;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid gray;
}

.Benchmarks {
    
    padding-left: 15px;
    padding-bottom: 5px;
    border-bottom: 2px dashed gray;
    text-align: center;

}
.Benchmark{
    display: flex;    
    height: 40px;
    vertical-align: middle;
}
.BenchmarksName{
    padding-left: 3px;
    padding-right: 3px;
    font-family: "New Century Schoolbook", Georgia, Serif;
    font-weight: bold
}
.BenchmarksValue{
    padding-left: 3px;
    padding-right: 3px;
    color: #ffffff;
    clear: right;
    font-family: "New Century Schoolbook", Georgia, Serif;
    font-size: x-large;
}
.Kanban{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    border-left: 3px solid #bc0005;
    padding: 5px;
    margin: 5px;
    height:auto;
    min-height: 50px;
    max-width: 100%;
    min-width: 100px;

}
.KanbanDescription{
    padding: 1px;
    border-left: 20px yellow;
    margin: 1px;
}

.KanbanName{
    -webkit-user-select: text;
    text-align: center;
    font-style: inherit;
    padding: 1px;
    margin: 1px;

}
.blocked{
    background: #ef9bb7;
    border-radius: 10px;
}

.over {
    border: 3px black;
    border-style: dotted;
}

.VIPClient{
    background-color: rgb(204, 204, 202);
}
.StandartClient{
    background-color: rgb(255, 255, 255);
}
.Warning{
    font-size: medium;
}
.nameClient{
    font-size:larger;
}
.Title{
    display: block;
    margin: 10px;
    font-size: x-large;
}
.Descripion{
    padding: 20px;
    border-bottom: 1px black solid;
}
#KanbanMore{
    padding: 10px;
    margin: 10px;
    background-color: #F5F5F5;
    display: none; 
    border-radius: 20px;
    z-index: 1000;
    position: fixed;
    overflow: auto;
    top: 4%;
    height:90%;
    width:98%;
}
.KanbanMoreComents{
    display: block;

    margin: 5px;
    word-break: break-all;
}

#taskBitrix24{
    width: 60.5%;
}
.taskKanbanTool span {
    display: block;
    padding-left: 20px;
    text-align: left;
}
.taskKanbanTool{
    WIDTH: 39%;
    min-height: 400px;
    float: right;
    margin: 10px;
    text-align: center;
    border-left: 1px solid black;
}

#FantomKanban{
    opacity: 0.5;
}

#preloader {
  top: -15vw;
  left: -20vw;
  position: relative;
  width: 800px;
  height: 600px;
  background: url('../img/pr.gif');

}
.centerbg2 {
  position: absolute;
  left: 50%;
  top: 50%;
}

.preloaderbg {
  display: none;
  width:100%;
  height:100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
  opacity: 0.4;
  background:  #ffffff;
}


[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;

 
  }


.onhover {
  cursor: pointer;
}

.onhover button {
  display: none;
}

.onhover:hover button {
  display: inline-block;
}