
body {
    background-image: url("../img/background.jpg") ;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: cover; /* Современные браузеры */
}

.graph {
    width: 100%;
    height: 80%;
    display: flex;
}

.chart {
    width: 80%;
}

.form-check {
    background: gray;
    position: relative;
    width: 20%;
    display: block;
    padding-left: 1.25rem;
    padding: 5px;
}
.rowWithTask{
    display: flex;
    padding: 2px;
    border: 1px solid;
    margin: 2px;
}

.activeRow{
    background: darkgray;
}
