body {
    background-image: url("../img/background.jpg") ;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: cover; /* Современные браузеры */
}

.KanbanDesk {
    width: 100%;
    font-size: 16px;
}
.Parametrs{
    display:inline-block;
}
.KanbanColumn{
    /*min-width: 246px;*/
    /*min-height: 200px;*/
    /*font-size: 60%;*/
    overflow: auto;
    border-radius: 10px;
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
    /*background-color: rgba(197, 197, 182, 0.43);*/
    vertical-align: sub;      
}
.StageInfo{
    font-size: min(60%, 16px);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px dashed black;
    text-align: center;
    height: 34px;
    vertical-align: middle;
    margin: 2px;
    padding: 5px;
    font-family: "New Century Schoolbook", Georgia, Serif;
    font-weight: bold;
    border-left: 1px dashed black;
}

.KanbanColumnContent{
    overflow: auto;
    font-size: 60%;
    max-height: 85vh;
    min-width: 10vh;
    /*min-height: 20vh;*/
    width: fit-content;
}

.KanbanNav{
 background: blue;
}

.UserIcon {
    border-radius: 30px;
    width: 30px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: unset;
}
.NameColumn{
    margin: 2px;
    padding: 5px;
    text-align: left;
    font-family: "New Century Schoolbook", Georgia, Serif;
    font-weight: bold

}
.finished{
    opacity: 0.5;
}
.projetcicon{
    border-radius: 30px;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid gray;
    margin-left: auto;
    margin-right: unset;
}
.KanbanNameProject{
    padding-bottom: 2px;
    padding-top: 3px;
}
.projectName{
    background-color: rgba(125, 125, 125, 0.25);
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 20px;
    margin-left: auto;
    /*border: 1px solid gray;*/
    font-weight: bold;
    height: 18px;
}

.Benchmarks {
    
    padding-left: 15px;
    padding-bottom: 5px;
    border-bottom: 2px dashed gray;
    text-align: center;

}
.Benchmark{
    display: flex;    
    height: 40px;
    vertical-align: middle;
}
.BenchmarksName{
    padding-left: 3px;
    padding-right: 3px;
    font-family: "New Century Schoolbook", Georgia, Serif;
    font-weight: bold
}
.BenchmarksValue{
    padding-left: 3px;
    padding-right: 3px;
    color: #ffffff;
    clear: right;
    font-family: "New Century Schoolbook", Georgia, Serif;
    
}
.Kanban{
    background-color: rgba(236, 234, 234, 0.9);
    border-radius: 5px;
    float: right;
    padding: 5px;
    margin: 5px;
    width: 185px;
    height: 130px;
    min-height: 50px;
    position: relative;
}
.KanbanDescription{
    padding: 1px;
    text-align: justify;
    margin: 1px;
    
}

.KanbanDurationStatus{
    position: absolute;
    bottom: 10;
    right: 10;
}

.KanbanName{
    -webkit-user-select: text;
    text-align: center;
    font-style: inherit;
    padding: 1px;
    margin: 1px;
    display: flex;
    font-weight: bold;
}
.blocked{
    background: #ef9bb7;
    border-radius: 10px;
}

.over {
    border: 3px black;
    border-style: dotted;
}


.KanbanDeskCanvas {
    font-size: 12px;
}

.Warning{
    font-size: medium;
}

.Title{
    display: block;
    margin: 10px;
    font-size: x-large;
}
.Descripion{
    padding: 20px;
    border-bottom: 1px black solid;
}
#KanbanMore{
    padding: 10px;
    margin: 10px;
    background-color: #F5F5F5;
    display: none; 
    border-radius: 20px;
    z-index: 1000;
    position: fixed;
    overflow: auto;
    top: 4%;
    height:90%;
    width:98%;
}
.KanbanDesk__Info{
    display: none;
    z-index: 999;
    position: fixed;
    right: 1px;
    top: 5%;
    background: #e8edf0;
    padding: 15px;
    border: 1px solid #9e9c9c;
    border-radius: 15px;
    width: 20%;
    height: 95%;
}
.KanbanDesk__Info span{
    display: flex;
    margin: 5px auto;
    vertical-align:middle;
    margin-left: unset;
}
.KanbanDesk__Info span:hover{
    border-radius: 15px;
    background: #706f6f;
    cursor: pointer;
}

.activeSpan{
    border-radius: 15px;
    background: #a1a0a0;
}

.KanbanDesk__Info img{
    margin-left: unset;
}
.KanbanMoreComents{
    display: block;

    margin: 5px;
    word-break: break-all;
}

#taskBitrix24{
    width: 60.5%;
}
.taskKanbanTool span {
    display: block;
    padding-left: 20px;
    text-align: left;
}
.taskKanbanTool{
    WIDTH: 39%;
    min-height: 400px;
    float: right;
    margin: 10px;
    text-align: center;
    border-left: 1px solid black;
}

#FantomKanban{
    opacity: 0.5;
}

#preloader {
  top: -15vw;
  left: -20vw;
  position: relative;
  width: 800px;
  height: 600px;
  background: url('../img/pr.gif');

}
.centerbg2 {
  position: absolute;
  left: 50%;
  top: 50%;
}

.preloaderbg {
  display: none;
  width:100%;
  height:100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
  opacity: 0.4;
  background:  #ffffff;
}


[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;

 
  }


.onhover {
  cursor: pointer;
}

.onhover button {
  display: none;
}

.onhover:hover button {
  display: inline-block;
}

.comments{
    margin-top: 15px;
    padding: 5px;
    background: #a9a9a92b;
    border-radius: 15px;
}
.CMauthor{
    font-weight: 700;
    padding-left: 10px;
}
.CMdescription{
    font-weight: normal;
    padding: 5px;
}
.Swimline{
    vertical-align: top;
    border: 1px solid black;
}
td {
    border-right: 1px dashed black;
    text-align: center;
    margin: 2px;
    padding: 5px;
    border-left: 1px dashed black;
}
.SwimlineName{

}

@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
  }
.blink{
      text-decoration: blink;
      -webkit-animation-name: blinker;
      -webkit-animation-duration: 0.6s;
      -webkit-animation-iteration-count:infinite;
      -webkit-animation-timing-function:ease-in-out;
      -webkit-animation-direction: alternate;
}