body {
    background-image: url("../img/background.jpg") ;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: cover; /* Современные браузеры */
}

.KanbanDesk {
    width: 100%;
    
}
.Parametrs{
    display:inline-block;
}
.KanbanColumn{
    /*min-width: 246px;*/
    /*min-height: 200px;*/
    /*font-size: x-small;*/
    overflow: auto;
    border-radius: 10px;
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
    /*background-color: rgba(197, 197, 182, 0.43);*/
    vertical-align: sub;      
}
.StageInfo{
    font-size: x-small;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px dashed black;
    text-align: center;
    height: 34px;
    vertical-align: middle;
    margin: 2px;
    padding: 5px;
    font-family: "New Century Schoolbook", Georgia, Serif;
    font-weight: bold;
    border-left: 1px dashed black;
}

.KanbanColumnContent{
    overflow: auto;
    font-size: x-small;
    max-height: 85vh;
    min-width: 10vh;
    /*min-height: 20vh;*/
    width: fit-content;
}

.UserIcon {
    border-radius: 30px;
    width: 30px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: unset;
}
.NameColumn{
    margin: 2px;
    padding: 5px;
    text-align: left;
    font-family: "New Century Schoolbook", Georgia, Serif;
    font-weight: bold

}
.finished{
    opacity: 0.5;
}
.projetcicon{
    border-radius: 30px;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid gray;
    margin-left: auto;
    margin-right: unset;
}
.KanbanNameProject{
    padding-bottom: 2px;
    padding-top: 3px;
}
.projectName{
    background-color: rgba(125, 125, 125, 0.25);
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 20px;
    margin-left: auto;
    /*border: 1px solid gray;*/
    font-weight: bold;
    height: 18px;
}

.Benchmarks {
    
    padding-left: 15px;
    padding-bottom: 5px;
    border-bottom: 2px dashed gray;
    text-align: center;

}
.Benchmark{
    display: flex;    
    height: 40px;
    vertical-align: middle;
}
.BenchmarksName{
    padding-left: 3px;
    padding-right: 3px;
    font-family: "New Century Schoolbook", Georgia, Serif;
    font-weight: bold
}
.BenchmarksValue{
    padding-left: 3px;
    padding-right: 3px;
    color: #ffffff;
    clear: right;
    font-family: "New Century Schoolbook", Georgia, Serif;
    
}
.Kanban{
    background-color: rgba(236, 234, 234, 0.9);
    border-radius: 5px;
    border-left: 3px solid #bc0005;
    float: right;
    padding: 5px;
    margin: 5px;
    width: 185px;
    min-height: 50px;

}
.KanbanDescription{
    padding: 1px;
    text-align: justify;
    margin: 1px;
}

.KanbanName{
    -webkit-user-select: text;
    text-align: center;
    font-style: inherit;
    padding: 1px;
    margin: 1px;
    display: flex;
    font-weight: bold;
}
.blocked{
    background: #ef9bb7;
    border-radius: 10px;
}

.over {
    border: 3px black;
    border-style: dotted;
}

.typeTask1{
    border-left: 7px solid rgb(76, 175, 80, 1);
}
.typeTask2{
   border-left: 7px solid rgba(255, 136, 0, 1);
}
.typeTask0{
    border-left: 7px solid rgb(160, 158, 158);
}
.typeTask3{
    border-left: 7px solid rgba(233, 87, 87, 1);
}
.typeTask4{
    border-left: 7px solid rgba(246, 143, 255, 1);
}
.typeTask5{
    border-left: 7px solid rgb(224, 214, 86);
}

.Warning{
    font-size: medium;
}

.Title{
    display: block;
    margin: 10px;
    font-size: x-large;
}
.Descripion{
    padding: 20px;
    border-bottom: 1px black solid;
}
#KanbanMore{
    padding: 10px;
    margin: 10px;
    background-color: #F5F5F5;
    display: none; 
    border-radius: 20px;
    border:2px solid black;
    z-index: 1000;
    position: fixed;
    overflow: auto;
    top: 4%;
    height:90%;
    width:98%;
}
.KanbanMoreComents{
    display: block;

    margin: 5px;
    word-break: break-all;
}

#taskBitrix24{
    width: 60.5%;
}
.taskKanbanTool span {
    display: block;
    padding-left: 20px;
    text-align: left;
}
.taskKanbanTool{
    WIDTH: 39%;
    min-height: 400px;
    float: right;
    margin: 10px;
    text-align: center;
    border-left: 1px solid black;
}

#FantomKanban{
    opacity: 0.5;
}

#preloader {
  top: -15vw;
  left: -20vw;
  position: relative;
  width: 800px;
  height: 600px;
  background: url('../img/pr.gif');

}
.centerbg2 {
  position: absolute;
  left: 50%;
  top: 50%;
}

.preloaderbg {
  display: none;
  width:100%;
  height:100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
  opacity: 0.4;
  background:  #ffffff;
}


[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;

 
  }


.onhover {
  cursor: pointer;
}

.onhover button {
  display: none;
}

.onhover:hover button {
  display: inline-block;
}

.comments{
    margin-top: 15px;
    padding: 5px;
    background: #a9a9a92b;
    border-radius: 15px;
}
.CMauthor{
    font-weight: 700;
    padding-left: 10px;
}
.CMdescription{
    font-weight: normal;
    padding: 5px;
}
.Swimline{
    vertical-align: top;
    border: 1px solid black;
}
td {
    border-right: 1px dashed black;
    text-align: center;
    margin: 2px;
    padding: 5px;
    border-left: 1px dashed black;
}
.SwimlineName{

}
